/* Tabler Icons Font Fix - Using Local Font Files */
@font-face {
  font-family: 'tabler-icons';
  src: url('../css/tabler-icons.woff2') format('woff2'),
       url('../css/tabler-icons.woff') format('woff'),
       url('../css/tabler-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Ensure Tabler Icons classes work properly */
.ti {
  font-family: 'tabler-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
